@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  font-weight: 400;
  color: #000 !important;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
